@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-bar {
    scrollbar-color: theme(colors.mid-grey) theme(colors.light-grey);
    scrollbar-width: thin !important;
  }

  .scroll-bar::-webkit-scrollbar {
    @apply w-2; /* width of the entire scrollbar */
  }

  .scroll-bar::-webkit-scrollbar-track-piece {
    @apply bg-light-grey; /* Background area color*/
    @apply rounded-full; /* Tracking area color*/
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    @apply bg-mid-grey; /* Scroll thumb color */
    @apply rounded-full; /* Scroll thumb roundness */
  }

  .rounded-container {
    @apply w-full border-light-grey rounded-lg;
  }
}

/* Estilos para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilos para navegadores Firefox */
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1;

.w-full {
  max-height: 200px;
  overflow: auto;
  margin-right: 10px; /* Ajusta el valor según tus necesidades */
}